/* styles.css */

.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    background-color:  rgb(38, 219, 156);
    border: 2px solid rgb(33, 128, 94);
    border-radius: 45px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  .login-form input::selection {
    color: rgb(173, 5, 188); /* Cambia el color según tus preferencias */
  }
  .login-form button {
    background-color: rgb(57, 151, 43); /* Verde Aqua */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #4eb576; /* Cambia el color al pasar el mouse */
  }
  .login-container {
    width: 600px;
    height: 400px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .logo {
    position: absolute;
    top: 40;
    left:20px;
    width: 100px; /* Ajusta el tamaño de acuerdo a tus necesidades */
    height: 100px; /* Ajusta el tamaño de acuerdo a tus necesidades */
  }
  
  .bottom-links {
    font-size: x-small;
    margin-top: 10px;
    text-align: center;
    color: #eaeaea;
    margin-bottom: 15px;
  }
  
  .bottom-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #000000; /* Cambia el color según tus preferencias */
  }
  
  .bottom-links a:hover {
    text-decoration: underline;
    color: rgb(173, 5, 188); /* Cambia el color según tus preferencias */

  }